div.introduction.grid_10
  h1= title
  p This page is meant as a means to demonstrate the usage of a realtime update engine when used with NodeJS.
div.clearfix.grid_12.chat_window
  div.alpha.grid_8#chat_context
    div.alpha.omega.grid_4.prefix_2.suffix_2
      p Enter a username.
      input.alpha.omega.grid_2#username(type='textbox', autocomplete="off")
      a.grid_1.omega#usubmit(href='#') submit
  div.omega.grid_3.prefix_1#connected_context
div.clearfix.grid_12#footer(style='display:none')
    input.grid_10.alpha#chatty(type='textbox', autocomplete="off")
    a.grid_1.omega#submit(href='#') submit