div.introduction.grid_10
  h1= title
  p This page is meant as a means to demonstrate the usage of a realtime update engine when used with NodeJS.
div.clearfix.grid_12.chat_window
  div.alpha.grid_8#chat_context
    p This is the chat context
  div.omega.grid_3.prefix_1#connected_context
    p This is the connected context