body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #4B4934; 
}
a {
  color: #00B7FF;
}
div#container {
background: #EFEACC;  
}
div.introduction {
  
  padding: 30px;
}
div#chat_context {
    background: #FFFFFF;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div#connected_context {
    height: 400px;
    overflow-y: scroll;
}
div.submit {
    margin-left:10px;
    float:left;
    width: 50px;
    height:20px;
    border: solid 1px black;
    background: gray;
}

div.submit:hover{
    cursor:hand;
    cursor:pointer;
}