body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;   
}
a {
  color: #00B7FF;
}

div.introduction {
  padding: 50px;
}
div#chat_context {
    height: 500px;
    overflow-y: scroll;
}
div#connected_context {
    height: 500px;
    overflow-y: scroll;
}